/* General Styles */
body {
    font-family: 'Arial', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles */

.nav-link {
    display: flex; 
    align-items: center; 
    margin-left: 10px;
}

.nav-link i {
    margin-right: 8px; 
}

.nav-buttons{
    margin-left: 60%;
}

.navbar {
    background-color: #0c77aB;
    padding: 10px 20px;
}

.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: white;
    font-weight: 500;
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #003d80;
}

/* Custom Button Styles */
button {
    background-color: #0c77a8;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #3abae3;
    cursor: pointer;
}

section {
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Home section */

#home {
    background-image: url(image/bghome.png);
    margin-top: auto;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.right-content {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

/* About Us Section */

#about-us {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 20px 0;
    gap: 20px;
}

.services-section {
    padding: 5%;
    background-color: #f9f9f9;
    text-align: center;

}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
    margin-top: 10%;
}

.services-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
}

.service-card {
    position: relative;
    min-width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    scroll-snap-align: center;
    flex: 0 0 24%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

.service-card:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.2rem;
    line-height: 1.4;
}

.service-card:hover {
    transform: scale(1.05);
}

#general-checkup {
    background-image: url('image/general.png');
}

#pre-natal-checkup {
    background-image: url('image/prenatal.png');
}

#babies-vaccination {
    background-image: url('image/babies.png');
}

#dental-checkup {
    background-image: url('image/dental.png');
}

/* Contact Us Section */

#contact{
    width: 100%;
    height: 100vh;
}

.contact-section {
    background-image: url(image/contactus.png);
    margin-top: auto;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    padding: 60px 20px;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0c77aB;
    text-shadow: 2px 2px #fff;
    font-weight: bolder;
}

.section-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #0c77aB;
    text-shadow: 1px 1px #fff;
    font-weight: bold;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-top: 20px; 
}

.contact-info {
    flex: 1; 
    padding-right: 20px; 
    text-align: left;
}

.info-item {
    margin-bottom: 20px;
}

.info-item i {
    font-size: 2rem;
    color: #0c77ab;
    text-shadow: 1px 1px #fff;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 1.1rem;
    color:  #0c77ab;
    text-shadow: 1px 1px #fff;
}

.contact-form {
    flex: 1; 
    padding-left: 20px; 
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
}

.contact-form button {
    background-color: #0c77ab;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #005e93;
}


/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #0c77aB;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

/* Footer Styles */
footer {
    background-color: #0c77aB;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-link {
        justify-content: center; 
    }
    #home {
        flex-direction: column; 
    }

    .left-content, .right-content {
        flex: 1 1 100%; 
        padding: 20px;
    }

    #login-form {
        width: 100%;
        max-width: 100%; 
    }
    .service-card {
        min-width: 80%; 
    }
    .services-wrapper {
        flex-wrap: nowrap;
    }
    
    .service-card {
        flex: 0 0 80%;
    }
    .contact-content {
        flex-direction: column;
    }
    .contact-info,
    .contact-form {
        padding: 0; 
        margin-bottom: 20px;
    }
    .styled-table {
        font-size: 1rem; 
    }
    .statistic-card {
        margin-bottom: 20px;
    }
}
/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color:  #0c77a8;
    padding-top: 20px;
}
.sidebar .nav-link {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 15px;
}
.sidebar .nav-link:hover {
    background-color: #82d4ed;
}
.content {
    margin-left: 260px; 
    padding: 5px;
}

/* Additional Styling for Calendar */
.calendar-container {
    display: flex;
    margin-top: 20px;
}
.calendar {
    width: 70%;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.calendar-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.calendar-day {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}
.calendar-day:hover {
    background-color: #ddd;
}
.calendar-day.selected {
    background-color: #007bff;
    color: white;
}
.schedule {
    width: 30%;
    padding: 10px;
    margin-left: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.schedule-header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.appointment-list {
    list-style-type: none;
    padding: 0;
}
.appointment-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* content sections */
.content{
    height: 100vh;
}
.content-section {
    display: none; 
    padding: 30px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
    overflow-y: auto; 
    max-height: 100vh; 
}

.content-section h1 {
    font-size: 24px;
    color: #333; 
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff; 
    padding-bottom: 8px;
}

.content-section p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.content-section table, .content-section ul {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.content-section table th, .content-section table td,
.content-section ul li {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.content-section::-webkit-scrollbar {
    width: 8px;
}
.content-section::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.content-section::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 4px;
}
.content-section::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Card Styles */
.statistic-card {
    background-color: #f9f9f9;
    border: none;
    transition: transform 0.3s;
}

.statistic-card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px 0;
}

.icon-container {
    font-size: 2.5rem;
    color: #3498db;
    margin-bottom: 15px;
}

.icon-style {
    color: #3498db;
}

/* Button Styles */
.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}


.table-responsive {
    margin: 20px 0;
    overflow-x: auto; 
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px !important;
}

.styled-table thead tr {
    background-color: #007bff; 
    color: #ffffff; 
    text-align: left; 
}

.styled-table th,
.styled-table td {
    padding: 12px 15px; 
    border: 1px solid #dddddd; 
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd; 
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; 
}

.styled-table tbody tr:hover {
    background-color: #e2e6ea; 
    transition: background-color 0.3s; 
}

.styled-table tbody tr td:first-child {
    font-weight: bold; 
}

.right{
    justify-content: right;
    align-items: right;
    justify-items: right;
}

.tab-button {
    background-color: white;
    color: #3498db;
    border-bottom: 2px solid #3498db; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

.tab-button:hover {
    background-color: #3498db; 
    color: white; 
    border-color: #2980b9; 
    border-radius: 5px;
}

#searchResident{
    height: 40px;
    width: 200px;
    border-color: 2px solid #3498db;
    border-radius: 5px;
}

#formSection {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
}

#formSection h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

label {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #0c77a8;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    margin-top: 15px;
}

button:hover {
    background-color: #3abae3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#patientDataSection {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#patientDataSection h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
}

#patientDataSection p {
    font-size: 1em;
    color: #555;
    margin: 5px 0;
}

#bhcmsForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#bhcmsForm h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

#bmiStatus {
    font-weight: bold;
    color: #d9534f;
}

#bmi {
    font-weight: bold;
    color: #5bc0de;
}